version: '3'
services:
  app-pokemon:
    image: pokemon-app
    stdin_open: true
    ports: 
      - "3000:3000"
    networks: 
      - pokemongo

  api-pokemon:
    image: pokemon-api
    ports: 
      - "5000:5000"
    networks: 
      - pokemongo
    depends_on: 
      - db-pokemon

  db-pokemon:
    image: mongo:latest
    ports: 
      - "27017:27017"
    networks: 
      - pokemongo
    volumes:
      - mongo-data:/data/db

networks: 
  pokemongo:
    driver: bridge
volumes: 
  mongo-data:
    driver: local